
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- bootstrap.js는 제이쿼리에 의존하므로 jquery를 부트스트랩보다 먼저 호출되도록 작성함 -->

<script src="/js/app/index.js"></script>
<!-- index.js 추가. 스프링부트에서 src/main/resources/static에 위치한 자바스크립트, css, 이미지 파일은
URL에서 /로 기본적으로 설정되어 있음. 따라서 src/main/resources/js 같이 파일이 위치하면 위치에 맞게 호출 가능 -->
</body>
</html>