{{>layout/header}} <!-- 현재 머스테치 파일을 기준으로 다른 파일을 가져옴 -->

    <h1>스프링부트 사이트 메인페이지</h1>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <a href="/posts/save" role="button" class="btn btn-primary">글쓰기</a> <!--/posts/save로 이동-->
            </div>
        </div>
    </div>

{{>layout/footer}}